
input:invalid {
    /* border: solid 3px red; */
    border: none;
    outline: dashed 1px red;
}

input:valid {

}

input:required {
    background-color: khaki;
}

input:optional {

}

input:invalid:required {
    /* matches all inputs that have the required keyword and are in an invalid state */
    /* border-radius: 15px; */
}

input:focus {
    background-color: yellow;
}

input {
    /* outline: none; */
    margin: 10px 0;
}

textarea::placeholder {
    color: darkcyan;
    font-weight: bold;
}

label {
    display: inline-block;
    width: 260px;
    text-align: right;
    padding-right: 20px;
}

input[type="text"] {
    border: solid 2px black;
}

input[minlength="5"] {
    border: solid 4px tomato;
}

input[title] {
    font-style: italic;
}

input.font-italic {
    font-style: italic;
}

#form-1 {
    position: relative;
}
#form-1 legend {
    background-color: yellowgreen;
    position: absolute;
    right: 0;
}