.box {    
    width: 300px;
    height: 300px;
}

div.box:nth-of-type(1) {
    background-color: teal;
    margin-bottom: 40px;
}

div.box:nth-of-type(2) {
    background-color: yellow;
    margin-bottom: 20px;
    padding-top: 100px;
    padding-left: 100px;

    border-bottom: solid 20px black;
    border-top: solid 20px black;
}

div.box:nth-of-type(3) {
    background-color: blueviolet;
    margin-top: 20px;
}

div.box:nth-of-type(3) > div {
    margin: 0 auto;
}

div.box:nth-of-type(3) > div.box {
    width: 100px;
    height: 100px;
    background-color: wheat;
    /* 
    https://stackoverflow.com/a/1762575
    Margin does not affect the child's position in relation to its parent, unless the parent has padding, in which case most browsers will then add the child's margin to the parent's padding.
    */
    margin-top: 20px;
}

div.box:nth-of-type(3) > div.text {
    color: white;
    width: 80%;
}

body {
    background: wheat;
}

header {
    border-bottom: solid 1px grey;
    margin: 0 20px;
}

header > .header-menu {
    float: right;
}

footer {
    background-color: black;
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;

    max-width: 960px;

    padding-left: 10px;
    padding-right: 10px;
}

main {
    background: white;
}