.grid-container {
    display: grid;
    border: solid 1px black;

    box-sizing: border-box;


    gap: 10px 10px;

    margin: 60px 0;
}

.grid-container .grid-item {
    /* width: 60%; */
    height: 60%;
    /* border: solid 1px blueviolet; */
    background-color: blueviolet;
    box-sizing: border-box;
    padding: 20px;
}

.section-grid-ex-1 > .grid-container {
    /* grid-template-columns: 1fr 1fr minmax(300px, 3fr) 1fr; */
    grid-template-columns: repeat(4, 1fr);

    /* grid-template-rows: 70px 70px; */
    grid-template-rows: repeat(3, 70px);

    /* Aligns grid items horizontally within their cell */
    /* justify-items: center; */
    justify-items: stretch;
    
    /* Aligns grid items vertically within their cell */ 
    align-items: center;

    /* justify-content: right; */
}

.section-grid-ex-1 .grid-item.span-3c-1r {
    background-color: brown;
    grid-column-start: 2;
    grid-column-end: 5;
}

.section-grid-ex-2 > .grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 70px);
    align-items: center;
}

.section-grid-ex-2 .item-7 {
    background-color: burlywood;
    
    grid-column-start: 2;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 5;
}

.section-grid-ex-4 .grid-item.item-7 {
    background-color: green;
}