#table-dci-students {
    width: 100%;
    /* border-collapse: collapse; */
}

#table-dci-students caption {
    text-align: right;
    caption-side: bottom;
}

thead {
    /* border-bottom: solid 5px red; */
}

th, td {
    border: solid 2px black;
}