html, body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 900px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

main.container {
    padding-top: 40px;
    background-color: bisque;
}

.box {
    background-color: coral;
    height: 200px;
    width: 360px;
    padding: 40px;
    border: solid 10px black;

    margin: 20px;

}

.box-sizing {
    box-sizing: border-box;
}

aside {
    border-left: solid 5px black;
    max-width: 300px;
    float: right;
    padding: 10px;
    margin-left: 30px;
}

/* -------------------------------------------- */


.box-2 {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: solid 5px black;
    margin: 5px;
    background-color: white;   
}

.section-display-block .box-2 {
    display: block;
}

.section-display-inline-block .box-2 {
    display: inline-block;
}

.section-display-inline .box-2 {
    display: inline;
    margin-top: 40px;
}

.greta-bg {
    /* 
    background-image: url('/19-Box-Model-Styling-And-Block-Elements-28.10.2020/img/greta-meme.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    */

    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
    background: url('/19-Box-Model-Styling-And-Block-Elements-28.10.2020/img/greta-meme.jpg') center / contain no-repeat;
}